# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v3
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        apt install -y wine
        python -m pip install --upgrade pip
        pip install pyinstaller
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Pyinstaller
      run: |
        pyinstaller --onefile --name "WotVNE" main.py
    - name: Pyinstaller Windows
      run: |
        wine reg add "HKCU\Environment" /v PATH /t REG_EXPAND_SZ /d "C:\Python311;%PATH%" /f && wineboot --update
        wine cmd /c "python -m PyInstaller --onefile --name \"WotVNE.exe\" my_app.py"
    - name: Upload a Linux Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        path: dist/WotVNE
    - name: Upload a Windows Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        path: dist/WotVNE.exe
